Computacao_Grafica / .vs /
* .log
* .obj
* .idb
* .pdb
* .exe
* .ilk
* .tlog
Jogo_da_bola/.vs/
*.vcxproj
*.obj
*.log
*.idb
*.pdb
*.tlog
*.lastbuildstate
Jogo_da_bola/Debug/Jogo_da_bola.exe
Jogo_da_bola/Debug/Jogo_da_bola.ilk
